<nav class="navbar navbar-light bg-light border">
  <div class="container-fluid">
    <%= link_to "Yelp", restaurants_path, class: "navbar-brand " %>
    <%= link_to "New restaurant", new_restaurant_path, class: "text-muted nav-link" %>
  </div>
</nav>
